<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="shortcut icon"
      href="https://cdn3.iconfinder.com/data/icons/virus-transmission-flat/48/Vaccine-512.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="https://cdn3.iconfinder.com/data/icons/virus-transmission-flat/48/Vaccine-512.png"
    />
    <!-- TailwindCSSn link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css"
      integrity="sha512-+WF6UMXHki/uCy0vATJzyA9EmAcohIQuwpNz0qEO+5UeE5ibPejMRdFuARSrl1trs3skqie0rY/gNiolfaef5w=="
      crossorigin="anonymous"
    />
    <!-- Title -->
    <title>Error | VacciLog</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav
      class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
    >
      <div
        class="container px-4 mx-auto flex flex-wrap items-center justify-between"
      >
        <div
          class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
        >
          <!-- Logo -->
          <a
            class="text-3xl font-bold leading-relaxed inline-block mr-4 py-2 whitespace-no-wrap uppercase text-white"
            href="#"
            >Vacci<span class="text-red-500">Log</span> </a
          ><button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            onclick="toggleNavbar('example-collapse-navbar')"
          >
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
          id="example-collapse-navbar"
        >
          <!-- Nav Left Side -->
          <ul class="flex flex-col lg:flex-row list-none mr-auto">
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="/"
                ><i
                  class="lg:text-gray-300 text-gray-500 fas fa-home text-lg leading-lg mr-2"
                ></i>
                Home</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Main -->
    <main>
      <div
        class="relative pt-16 pb-32 flex content-center items-center justify-center"
        style="min-height: 95vh"
      >
        <!-- Background Image -->
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style="
            background-image: url('https://images.unsplash.com/photo-1607326207820-989c6d53a0a2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1502&q=80');
          "
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-75 bg-black"
          ></span>
        </div>
        <!-- Section 01 Content -->
        <div class="container relative mx-auto">
          <div class="items-center flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
              <div class="pr-12">
                <h1
                  class="text-white font-semibold text-5xl"
                  data-aos="zoom-in"
                >
                  <%= message %>
                </h1>
                <h2 class="mt-4 text-lg text-gray-300"><%= error.status %></h2>
              </div>
            </div>
            <pre class="mt-4 text-xs text-gray-300"><%= error.stack %></pre>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer -->
    <footer class="absolute w-full bottom-0 bg-gray-900 opacity-75 pb-6">
      <div class="container mx-auto px-4">
        <hr class="mb-6 border-b-1 border-gray-700" />
        <!-- Copyright -->
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-4/12 px-4 mx-auto text-center">
            <div class="text-sm text-gray-600 font-semibold py-1">
              Copyright © 2020 VacciLog by
              <a href="..." class="text-gray-600 hover:text-gray-900"
                >Justin J</a
              >.
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle('hidden');
      document.getElementById(collapseID).classList.toggle('block');
    }
  </script>
</html>
