@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: #6649b8;
}
nav {
  width: 20vw;
  float: left;
  height: 100%;
  background: #222;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.redLogo {
  color: red;
}
.nav-item {
  color: #818181;
  display: block;
  text-decoration: none;
}
.nav-item:hover,
.active {
  color: #f1f1f1;
}
main {
  margin-left: 20vw;
  clear: both;
  position: relative;
}
.title {
  height: 20vh;
}
footer {
  position: relative;
  margin-top: 2vh;
  padding: 3vh 0;
}
